include README.md
include CHANGELOG.md
include AUTHORS.md
include CONTRIBUTING.md
include ARCHITECTURE.md
include MIGRATION.md
include SECURITY.md
include CITATION.cff
include LICENSE
recursive-include resources *
recursive-include tests *.py
prune docs
prune figures
prune manuscript
prune overrides
